
        .body-initial {
            background-color: rgba(255,255,255,1); 
        }
        .silex-id-1478366444112-1 {
            top: 0px; 
            left: 0px; 
            background-color: transparent; 
        }
        .silex-id-1478366444112-0 {
            min-height: 38px; 
            background-color: transparent; 
            width: 1200px; 
        }
        .silex-id-1474394621033-3 {
            top: 38px; 
            left: 0px; 
            min-width: 704px; 
            background-color: transparent; 
        }
        .silex-id-1474394621032-2 {
            min-height: 302px; 
            background-color: transparent; 
            width: 704px; 
            top: 0px; 
            left: 398px; 
        }
        .silex-id-1485287426744-0 {
            min-height: 54px; 
            width: 272px; 
            top: 9px; 
            left: 8px; 
        }
        .silex-id-1485283754156-22 {
            min-height: 20px; 
            width: 215px; 
            top: 59px; 
            left: 60px; 
        }
        .silex-id-1485283445711-21 {
            min-height: 22px; 
            width: 20px; 
            top: 151px; 
            left: 42px; 
        }
        .silex-id-1485280160324-1 {
            min-height: 20px; 
            width: 328px; 
            top: 113px; 
            left: 58px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1485280160324-1 {
            top: 74px; 
            left: 11px; 
            width: 433px; 
            min-height: 20px; 
        }
        }.silex-id-1485280976430-10 {
            min-height: 20px; 
            width: 134px; 
            top: 149px; 
            left: 60px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1485280976430-10 {
            top: 94px; 
            left: 34px; 
            width: 387px; 
            min-height: 20px; 
        }
        }.silex-id-1485284818565-0 {
            min-height: 20px; 
            width: 20px; 
            top: 112px; 
            left: 40px; 
        }
        .silex-id-1485283382864-19 {
            min-height: 27px; 
            width: 21px; 
            top: 189px; 
            left: 40px; 
        }
        .silex-id-1485282812231-17 {
            min-height: 20px; 
            width: 59px; 
            top: 189px; 
            left: 61px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1485282812231-17 {
            top: 114px; 
            left: 56px; 
            width: 343px; 
            min-height: 20px; 
        }
        }.silex-id-1485294300276-13 {
            min-height: 40px; 
            width: 196px; 
            top: 170px; 
            left: 259px; 
            border-width: 3px 3px 3px 3px ; 
            border-style: dashed; 
        }
        .silex-id-1485281315476-13 {
            min-height: 27px; 
            width: 86px; 
            top: 23px; 
            left: 455px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1485281315476-13 {
            top: 173px; 
            left: 17px; 
            width: 422px; 
            min-height: 27px; 
        }
        }.silex-id-1485280563600-6 {
            min-height: 20px; 
            width: 100px; 
            top: 51px; 
            left: 495px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1485280563600-6 {
            top: 163px; 
            left: 52px; 
            width: 352px; 
            min-height: 20px; 
        }
        }.silex-id-1485281718288-15 {
            min-height: 20px; 
            width: 112px; 
            top: 78px; 
            left: 496px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1485281718288-15 {
            top: 183px; 
            left: 72px; 
            width: 311px; 
            min-height: 20px; 
        }
        }.silex-id-1485280739908-8 {
            min-height: 20px; 
            width: 79px; 
            top: 105px; 
            left: 495px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1485280739908-8 {
            top: 204px; 
            left: 95px; 
            width: 266px; 
            min-height: 20px; 
        }
        }.silex-id-1485281652941-14 {
            min-height: 20px; 
            width: 91px; 
            top: 133px; 
            left: 496px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1485281652941-14 {
            top: 224px; 
            left: 117px; 
            width: 222px; 
            min-height: 20px; 
        }
        }.silex-id-1485301596986-20 {
            min-height: 20px; 
            width: 92px; 
            top: 228px; 
            left: 62px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1485301596986-20 {
            top: 213px; 
            left: 11px; 
            width: 433px; 
            min-height: 20px; 
        }
        }.silex-id-1485280837389-9 {
            min-height: 37px; 
            width: 389px; 
            top: 244px; 
            left: 63px; 
        }
        .silex-id-1485302073197-21 {
            min-height: 27px; 
            width: 20px; 
            top: 226px; 
            left: 41px; 
        }
        .silex-id-1485302190722-22 {
            min-height: 79px; 
            width: 71px; 
            top: 192px; 
            left: 563px; 
        }
        .silex-id-1485302471762-24 {
            min-height: 115px; 
            width: 20px; 
            top: 45px; 
            left: 483px; 
        }
        .silex-id-1485445593381-0 {
            min-height: 114px; 
            width: 20px; 
            top: 44px; 
            left: 604px; 
        }
        .silex-id-1485296117386-17 {
            top: 340px; 
            left: 0px; 
        }
        .silex-id-1485296117385-16 {
            min-height: 82px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1485362689420-4 {
            min-height: 27px; 
            width: 79px; 
            top: 9px; 
            left: 10px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1485362689420-4 {
            top: 4px; 
            left: 11px; 
            width: 433px; 
            min-height: 27px; 
        }
        }.silex-id-1485362766175-6 {
            min-height: 20px; 
            width: 574px; 
            top: 42px; 
            left: 43px; 
        }
        .silex-id-1485281291120-12 {
            top: 424px; 
            left: 0px; 
            min-width: 700px; 
        }
        .silex-id-1485281291119-11 {
            min-height: 908px; 
            background-color: rgb(255, 255, 255); 
            top: 0px; 
            left: 400px; 
            width: 700px; 
        }
        .silex-id-1485292268765-10 {
            min-height: 312px; 
            width: 592px; 
            top: 9px; 
            left: 9px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1485292268765-10 {
            left: 23px; 
            top: 2069px; 
            min-height: 238px; 
        }
        }.silex-id-1485292147793-6 {
            min-height: 545px; 
            width: 589px; 
            top: 330px; 
            left: 8px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1485292147793-6 {
            top: 238px; 
            left: 14px; 
            width: 427px; 
            min-height: 836px; 
        }
        }.silex-id-1485280237860-2 {
            min-height: 37px; 
            width: 399px; 
            top: 168px; 
            left: 119px; 
        }
        .silex-id-1485302825912-25 {
            min-height: 79px; 
            width: 64px; 
            top: 823px; 
            left: -21px; 
        }
        .silex-id-1485284547344-24 {
            min-height: 100px; 
            width: 100px; 
            top: 100px; 
            left: 513px; 
        }
        .silex-id-1485290728199-3 {
            top: 1330px; 
            left: 0px; 
        }
        .silex-id-1485290728199-2 {
            min-height: 377px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1485294779261-15 {
            min-height: 319px; 
            width: 563px; 
            background-color: rgb(255, 255, 255); 
            top: 12px; 
            left: 12px; 
        }
        .silex-id-1485389839197-1 {
            min-height: 54px; 
            width: 626px; 
            top: 339px; 
            left: 12px; 
        }
        .silex-id-1485362584122-1 {
            top: 1729px; 
            left: 0px; 
        }
        .silex-id-1485362584121-0 {
            min-height: 226px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1485362722593-5 {
            min-height: 27px; 
            width: 95px; 
            top: 8px; 
            left: 11px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1485362722593-5 {
            top: 2px; 
            left: 13px; 
            width: 430px; 
            min-height: 27px; 
        }
        }.silex-id-1485363111881-9 {
            min-height: 20px; 
            width: 428px; 
            top: 131px; 
            left: 46px; 
        }
        .silex-id-1485363428931-10 {
            min-height: 20px; 
            width: 476px; 
            top: 162px; 
            left: 46px; 
        }
        .silex-id-1485363015220-8 {
            min-height: 21px; 
            width: 559px; 
            top: 97px; 
            left: 46px; 
        }
        .silex-id-1485362830259-7 {
            min-height: 40px; 
            width: 521px; 
            top: 42px; 
            left: 46px; 
        }
        .silex-id-1485363621576-11 {
            min-height: 20px; 
            width: 544px; 
            top: 197px; 
            left: 46px; 
        }
        .silex-id-1485362606823-3 {
            top: 1916px; 
            left: 0px; 
        }
        .silex-id-1485362606822-2 {
            min-height: 213px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1485301237279-19 {
            min-height: 27px; 
            width: 120px; 
            top: 113px; 
            left: 22px; 
        }
        .silex-id-1485302843646-26 {
            min-height: 80px; 
            width: 72px; 
            top: 81px; 
            left: 362px; 
        }
        .silex-id-1485301168774-18 {
            min-height: 54px; 
            width: 626px; 
            top: -10px; 
            left: 11px; 
        }
    