
        .body-initial {
            background-color: rgba(255,255,255,1); 
        }
        .silex-id-1478366444112-1 {
            top: 0px; 
            left: 0px; 
            background-color: transparent; 
        }
        .silex-id-1478366444112-0 {
            min-height: 38px; 
            background-color: transparent; 
            width: 1200px; 
        }
        .silex-id-1474394621033-3 {
            top: 38px; 
            left: 0px; 
            min-width: 704px; 
            background-color: transparent; 
        }
        .silex-id-1474394621032-2 {
            min-height: 237px; 
            background-color: transparent; 
            width: 704px; 
            top: 0px; 
            left: 398px; 
        }
        .silex-id-1485287426744-0 {
            min-height: 54px; 
            width: 272px; 
            top: 9px; 
            left: 8px; 
        }
        .silex-id-1485283754156-22 {
            min-height: 20px; 
            width: 215px; 
            top: 59px; 
            left: 60px; 
        }
        .silex-id-1485280160324-1 {
            min-height: 20px; 
            width: 328px; 
            top: 113px; 
            left: 58px; 
        }
        .silex-id-1485284818565-0 {
            min-height: 20px; 
            width: 20px; 
            top: 112px; 
            left: 40px; 
        }
        .silex-id-1485280976430-10 {
            min-height: 20px; 
            width: 134px; 
            top: 149px; 
            left: 60px; 
        }
        .silex-id-1485283445711-21 {
            min-height: 22px; 
            width: 20px; 
            top: 151px; 
            left: 42px; 
        }
        .silex-id-1485283382864-19 {
            min-height: 27px; 
            width: 21px; 
            top: 189px; 
            left: 40px; 
        }
        .silex-id-1485282812231-17 {
            min-height: 20px; 
            width: 59px; 
            top: 189px; 
            left: 61px; 
        }
        .silex-id-1485280563600-6 {
            min-height: 20px; 
            width: 100px; 
            top: 50px; 
            left: 494px; 
        }
        .silex-id-1485281315476-13 {
            min-height: 27px; 
            width: 86px; 
            top: 22px; 
            left: 454px; 
        }
        .silex-id-1485281718288-15 {
            min-height: 20px; 
            width: 112px; 
            top: 77px; 
            left: 495px; 
        }
        .silex-id-1485280739908-8 {
            min-height: 20px; 
            width: 79px; 
            top: 104px; 
            left: 494px; 
        }
        .silex-id-1485281652941-14 {
            min-height: 20px; 
            width: 91px; 
            top: 132px; 
            left: 495px; 
        }
        .silex-id-1485294300276-13 {
            min-height: 21px; 
            width: 166px; 
            top: 182px; 
            left: 288px; 
        }
        .silex-id-1485294345797-14 {
            min-height: 20px; 
            width: 163px; 
            top: 208px; 
            left: 320px; 
        }
        .silex-id-1485281291120-12 {
            top: 344px; 
            left: 0px; 
            min-width: 700px; 
        }
        .silex-id-1485281291119-11 {
            min-height: 910px; 
            background-color: rgb(255, 255, 255); 
            top: 0px; 
            left: 400px; 
            width: 700px; 
        }
        .silex-id-1485292147793-6 {
            min-height: 548px; 
            width: 589px; 
            top: 330px; 
            left: 8px; 
        }
        .silex-id-1485292268765-10 {
            min-height: 312px; 
            width: 592px; 
            top: 9px; 
            left: 9px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1485292268765-10 {
            left: 23px; 
            top: 2069px; 
        }
        }.silex-id-1485280237860-2 {
            min-height: 37px; 
            width: 399px; 
            top: 168px; 
            left: 119px; 
        }
        .silex-id-1485284547344-24 {
            min-height: 100px; 
            width: 100px; 
            top: 100px; 
            left: 513px; 
        }
        .silex-id-1485290728199-3 {
            top: 1185px; 
            left: 0px; 
        }
        .silex-id-1485290728199-2 {
            min-height: 341px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1485294779261-15 {
            min-height: 319px; 
            width: 563px; 
            background-color: rgb(255, 255, 255); 
            top: 12px; 
            left: 12px; 
        }
        .silex-id-1485296117386-17 {
            top: 1544px; 
            left: 0px; 
        }
        .silex-id-1485296117385-16 {
            min-height: 337px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1485301237279-19 {
            min-height: 27px; 
            width: 120px; 
            top: 267px; 
            left: 11px; 
        }
        .silex-id-1485301168774-18 {
            min-height: 54px; 
            width: 792px; 
            top: 150px; 
            left: 10px; 
        }
        .silex-id-1485280837389-9 {
            min-height: 54px; 
            width: 586px; 
            top: 51px; 
            left: 14px; 
        }
        .silex-id-1485301596986-20 {
            min-height: 20px; 
            width: 92px; 
            top: 35px; 
            left: 13px; 
        }
    